### 1.  파일 열기

In [1]:
import pandas as pd

In [2]:
test = pd.read_csv("../test.csv")
test

         num_date_time  건물번호           일시  기온(C)  강수량(mm)  풍속(m/s)  습도(%)
0        1_20220825 00     1  20220825 00   23.5      0.0      2.2     72
1        1_20220825 01     1  20220825 01   23.0      0.0      0.9     72
2        1_20220825 02     1  20220825 02   22.7      0.0      1.5     75
3        1_20220825 03     1  20220825 03   22.1      0.0      1.3     78
4        1_20220825 04     1  20220825 04   21.8      0.0      1.0     77
...                ...   ...          ...    ...      ...      ...    ...
16795  100_20220831 19   100  20220831 19   22.5      0.0      0.9     84
16796  100_20220831 20   100  20220831 20   20.7      0.0      0.4     95
16797  100_20220831 21   100  20220831 21   20.2      0.0      0.4     98
16798  100_20220831 22   100  20220831 22   20.1      0.0      1.1     97
16799  100_20220831 23   100  20220831 23   19.1      0.0      0.1     99

[16800 rows x 7 columns]

In [3]:
train = pd.read_csv("../train.csv")
train

,num_date_time,건물번호,일시,기온(C),강수량(mm),풍속(m/s),습도(%),일조(hr),일사(MJ/m2),전력소비량(kWh)
0,1_20220601 00,1,20220601 00,18.6,NaN,0.9,42.0,NaN,NaN,1085.28
1,1_20220601 01,1,20220601 01,18.0,NaN,1.1,45.0,NaN,NaN,1047.36
2,1_20220601 02,1,20220601 02,17.7,NaN,1.5,45.0,NaN,NaN,974.88
3,1_20220601 03,1,20220601 03,16.7,NaN,1.4,48.0,NaN,NaN,953.76
4,1_20220601 04,1,20220601 04,18.4,NaN,2.8,43.0,NaN,NaN,986.40
...,...,...,...,...,...,...,...,...,...,...
203995,100_20220824 19,100,20220824 19,23.1,NaN,0.9,86.0,0.5,NaN,881.04
203996,100_20220824 20,100,20220824 20,22.4,NaN,1.3,86.0,0.0,NaN,798.96
203997,100_20220824 21,100,20220824 21,21.3,NaN,1.0,92.0,NaN,NaN,825.12
203998,100_20220824 22,100,20220824 22,21.0,NaN,0.3,94.0,NaN,NaN,640.08
203999,100_20220824 23,100,20220824 23,20.7,NaN,0.1,95.0,NaN,NaN,540.24

In [4]:
building = pd.read_csv("../building_info.csv")
building

    건물번호    건물유형    연면적(m2)   냉방면적(m2) 태양광용량(kW) ESS저장용량(kWh) PCS용량(kW)
0      1    건물기타  110634.00   39570.00         -            -         -
1      2    건물기타  122233.47   99000.00         -            -         -
2      3    건물기타  171243.00  113950.00        40            -         -
3      4    건물기타   74312.98   34419.62        60            -         -
4      5    건물기타  205884.00  150000.00         -         2557      1000
..   ...     ...        ...        ...       ...          ...       ...
95    96  호텔및리조트   93314.00   60500.00         -            -         -
96    97  호텔및리조트   55144.67   25880.00         -            -         -
97    98  호텔및리조트   53578.62   17373.75         -            -         -
98    99  호텔및리조트   53499.00   40636.00         -            -         -
99   100  호텔및리조트   57497.84   40035.23         -            -         -

[100 rows x 7 columns]

In [5]:
submission = pd.read_csv("../sample_submission.csv")
submission

         num_date_time  answer
0        1_20220825 00       0
1        1_20220825 01       0
2        1_20220825 02       0
3        1_20220825 03       0
4        1_20220825 04       0
...                ...     ...
16795  100_20220831 19       0
16796  100_20220831 20       0
16797  100_20220831 21       0
16798  100_20220831 22       0
16799  100_20220831 23       0

[16800 rows x 2 columns]

###### 날짜에서 요일 찾아내기

In [6]:
from datetime import datetime

date_format = "%Y%m%d %H"

# 날짜 컬럼을 반복하면서 요일 확인
train['요일'] = train['일시'].apply(lambda x: datetime.strptime(x, date_format).strftime("%a"))
test['요일'] = test['일시'].apply(lambda x: datetime.strptime(x, date_format).strftime("%a"))
test

         num_date_time  건물번호           일시  기온(C)  강수량(mm)  풍속(m/s)  습도(%)   요일
0        1_20220825 00     1  20220825 00   23.5      0.0      2.2     72  Thu
1        1_20220825 01     1  20220825 01   23.0      0.0      0.9     72  Thu
2        1_20220825 02     1  20220825 02   22.7      0.0      1.5     75  Thu
3        1_20220825 03     1  20220825 03   22.1      0.0      1.3     78  Thu
4        1_20220825 04     1  20220825 04   21.8      0.0      1.0     77  Thu
...                ...   ...          ...    ...      ...      ...    ...  ...
16795  100_20220831 19   100  20220831 19   22.5      0.0      0.9     84  Wed
16796  100_20220831 20   100  20220831 20   20.7      0.0      0.4     95  Wed
16797  100_20220831 21   100  20220831 21   20.2      0.0      0.4     98  Wed
16798  100_20220831 22   100  20220831 22   20.1      0.0      1.1     97  Wed
16799  100_20220831 23   100  20220831 23   19.1      0.0      0.1     99  Wed

[16800 rows x 8 columns]

###### NULL값 처리

In [7]:
train['강수량(mm)'].fillna(0, inplace=True)
train['풍속(m/s)'].fillna(method='ffill', inplace=True)
train['습도(%)'].fillna(method='ffill', inplace=True)
train['일조(hr)'].fillna(0, inplace=True)
train['일사(MJ/m2)'].fillna(0, inplace=True)
test['강수량(mm)'].fillna(0, inplace=True)
test['일조(hr)'] = 0
test['일사(MJ/m2)'] = 0

##### 연월일시 분리

In [8]:
train['일시'] = pd.to_datetime(train['일시'], format='%Y%m%d %H')
test['일시'] = pd.to_datetime(test['일시'], format='%Y%m%d %H')
train['연'] = train['일시'].dt.year
train['월'] = train['일시'].dt.month
train['일'] = train['일시'].dt.day
train['시간'] = train['일시'].dt.hour
test['연'] = test['일시'].dt.year
test['월'] = test['일시'].dt.month
test['일'] = test['일시'].dt.day
test['시간'] = test['일시'].dt.hour

In [9]:
# train.drop(columns=['num_date_time', '일시'], inplace=True)
# test.drop(columns=['num_date_time', '일시'], inplace=True)

In [10]:
test

,num_date_time,건물번호,일시,기온(C),강수량(mm),풍속(m/s),습도(%),요일,일조(hr),일사(MJ/m2),연,월,일,시간
0,1_20220825 00,1,2022-08-25 00:00:00,23.5,0.0,2.2,72,Thu,0,0,2022,8,25,0
1,1_20220825 01,1,2022-08-25 01:00:00,23.0,0.0,0.9,72,Thu,0,0,2022,8,25,1
2,1_20220825 02,1,2022-08-25 02:00:00,22.7,0.0,1.5,75,Thu,0,0,2022,8,25,2
3,1_20220825 03,1,2022-08-25 03:00:00,22.1,0.0,1.3,78,Thu,0,0,2022,8,25,3
4,1_20220825 04,1,2022-08-25 04:00:00,21.8,0.0,1.0,77,Thu,0,0,2022,8,25,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16795,100_20220831 19,100,2022-08-31 19:00:00,22.5,0.0,0.9,84,Wed,0,0,2022,8,31,19
16796,100_20220831 20,100,2022-08-31 20:00:00,20.7,0.0,0.4,95,Wed,0,0,2022,8,31,20
16797,100_20220831 21,100,2022-08-31 21:00:00,20.2,0.0,0.4,98,Wed,0,0,2022,8,31,21
16798,100_20220831 22,100,2022-08-31 22:00:00,20.1,0.0,1.1,97,Wed,0,0,2022,8,31,22
16799,100_20220831 23,100,2022-08-31 23:00:00,19.1,0.0,0.1,99,Wed,0,0,2022,8,31,23

In [11]:
train

,num_date_time,건물번호,일시,기온(C),강수량(mm),풍속(m/s),습도(%),일조(hr),일사(MJ/m2),전력소비량(kWh),요일,연,월,일,시간
0,1_20220601 00,1,2022-06-01 00:00:00,18.6,0.0,0.9,42.0,0.0,0.0,1085.28,Wed,2022,6,1,0
1,1_20220601 01,1,2022-06-01 01:00:00,18.0,0.0,1.1,45.0,0.0,0.0,1047.36,Wed,2022,6,1,1
2,1_20220601 02,1,2022-06-01 02:00:00,17.7,0.0,1.5,45.0,0.0,0.0,974.88,Wed,2022,6,1,2
3,1_20220601 03,1,2022-06-01 03:00:00,16.7,0.0,1.4,48.0,0.0,0.0,953.76,Wed,2022,6,1,3
4,1_20220601 04,1,2022-06-01 04:00:00,18.4,0.0,2.8,43.0,0.0,0.0,986.40,Wed,2022,6,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203995,100_20220824 19,100,2022-08-24 19:00:00,23.1,0.0,0.9,86.0,0.5,0.0,881.04,Wed,2022,8,24,19
203996,100_20220824 20,100,2022-08-24 20:00:00,22.4,0.0,1.3,86.0,0.0,0.0,798.96,Wed,2022,8,24,20
203997,100_20220824 21,100,2022-08-24 21:00:00,21.3,0.0,1.0,92.0,0.0,0.0,825.12,Wed,2022,8,24,21
203998,100_20220824 22,100,2022-08-24 22:00:00,21.0,0.0,0.3,94.0,0.0,0.0,640.08,Wed,2022,8,24,22
203999,100_20220824 23,100,2022-08-24 23:00:00,20.7,0.0,0.1,95.0,0.0,0.0,540.24,Wed,2022,8,24,23

In [14]:
building[building['태양광용량(kW)']!='-']

    건물번호     건물유형     연면적(m2)   냉방면적(m2) 태양광용량(kW) ESS저장용량(kWh) PCS용량(kW)
2      3     건물기타  171243.000  113950.00        40            -         -
3      4     건물기타   74312.980   34419.62        60            -         -
10    11     건물기타   45956.560   13190.98     447.2            -         -
11    12     건물기타   70163.100    3598.21     130.6            -         -
13    14     건물기타   16844.160   14102.92        56            -         -
15    16       공공  240038.000   95175.00        20            -         -
17    18       공공   75624.560   39915.10      64.8            -         -
20    21       공공   61469.670   43970.64        70        837.1       500
21    22       공공   61375.470   19800.00       110            -         -
23    24      대학교  659696.910  516097.85     97.65            -         -
24    25      대학교  528014.050  369812.24        50            -         -
25    26      대학교  386466.900  162020.00     26.64            -         -
26    27      대학교  578484.113  501381.53        30            -         -
27    28      대학교  249494.000  130520.00        50            -         -
28    29      대학교  199623.000   77202.00        25            -         -
29    30      대학교  155785.000  106305.00        20            -         -
30    31      대학교  201781.000  119836.00     83.72            -         -
36    37  백화점및아울렛   98528.770   75517.52        35            -         -
45    46       병원   85869.490   78675.00    100.56            -         -
47    48       병원   66729.000   50000.00       200            -         -
48    49       병원  112953.610   70301.00      46.2            -         -
49    50       병원   91967.000   75836.00         3            -         -
51    52       병원   91634.210   69227.19        25            -         -
56    57       상용  105473.460   55586.72       200            -         -
57    58       상용   14897.000    7071.92      9.45            -         -
59    60       상용  188902.070  142187.28       365            -         -
68    69      연구소  139928.730  111183.19      14.4            -         -
69    70      연구소  141014.000  120000.00     28.44            -         -
70    71      연구소   90896.000   44536.00        65         3100       800
71    72      연구소   31503.000   12667.00        95            -         -
72    73      연구소  109894.220   87915.20     60.45            -         -
73    74      연구소  253743.000  142705.00       621            -         -
75    76      연구소   38668.170   38452.11       100            -         -
85    86     할인마트   54866.510   30953.00     97.85            -         -
91    92     할인마트   80491.000   18549.50     98.28            -         -
92    93   호텔및리조트   34845.180   31124.00      21.6            -         -

In [15]:
merge_train = train.merge(building,on='건물번호')

In [16]:
merge_train

,num_date_time,건물번호,일시,기온(C),강수량(mm),풍속(m/s),습도(%),일조(hr),일사(MJ/m2),전력소비량(kWh),...,연,월,일,시간,건물유형,연면적(m2),냉방면적(m2),태양광용량(kW),ESS저장용량(kWh),PCS용량(kW)
0,1_20220601 00,1,2022-06-01 00:00:00,18.6,0.0,0.9,42.0,0.0,0.0,1085.28,...,2022,6,1,0,건물기타,110634.00,39570.00,-,-,-
1,1_20220601 01,1,2022-06-01 01:00:00,18.0,0.0,1.1,45.0,0.0,0.0,1047.36,...,2022,6,1,1,건물기타,110634.00,39570.00,-,-,-
2,1_20220601 02,1,2022-06-01 02:00:00,17.7,0.0,1.5,45.0,0.0,0.0,974.88,...,2022,6,1,2,건물기타,110634.00,39570.00,-,-,-
3,1_20220601 03,1,2022-06-01 03:00:00,16.7,0.0,1.4,48.0,0.0,0.0,953.76,...,2022,6,1,3,건물기타,110634.00,39570.00,-,-,-
4,1_20220601 04,1,2022-06-01 04:00:00,18.4,0.0,2.8,43.0,0.0,0.0,986.40,...,2022,6,1,4,건물기타,110634.00,39570.00,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203995,100_20220824 19,100,2022-08-24 19:00:00,23.1,0.0,0.9,86.0,0.5,0.0,881.04,...,2022,8,24,19,호텔및리조트,57497.84,40035.23,-,-,-
203996,100_20220824 20,100,2022-08-24 20:00:00,22.4,0.0,1.3,86.0,0.0,0.0,798.96,...,2022,8,24,20,호텔및리조트,57497.84,40035.23,-,-,-
203997,100_20220824 21,100,2022-08-24 21:00:00,21.3,0.0,1.0,92.0,0.0,0.0,825.12,...,2022,8,24,21,호텔및리조트,57497.84,40035.23,-,-,-
203998,100_20220824 22,100,2022-08-24 22:00:00,21.0,0.0,0.3,94.0,0.0,0.0,640.08,...,2022,8,24,22,호텔및리조트,57497.84,40035.23,-,-,-
203999,100_20220824 23,100,2022-08-24 23:00:00,20.7,0.0,0.1,95.0,0.0,0.0,540.24,...,2022,8,24,23,호텔및리조트,57497.84,40035.23,-,-,-

In [17]:
merge_test = test.merge(building,on='건물번호')

In [18]:
merge_test

,num_date_time,건물번호,일시,기온(C),강수량(mm),풍속(m/s),습도(%),요일,일조(hr),일사(MJ/m2),연,월,일,시간,건물유형,연면적(m2),냉방면적(m2),태양광용량(kW),ESS저장용량(kWh),PCS용량(kW)
0,1_20220825 00,1,2022-08-25 00:00:00,23.5,0.0,2.2,72,Thu,0,0,2022,8,25,0,건물기타,110634.00,39570.00,-,-,-
1,1_20220825 01,1,2022-08-25 01:00:00,23.0,0.0,0.9,72,Thu,0,0,2022,8,25,1,건물기타,110634.00,39570.00,-,-,-
2,1_20220825 02,1,2022-08-25 02:00:00,22.7,0.0,1.5,75,Thu,0,0,2022,8,25,2,건물기타,110634.00,39570.00,-,-,-
3,1_20220825 03,1,2022-08-25 03:00:00,22.1,0.0,1.3,78,Thu,0,0,2022,8,25,3,건물기타,110634.00,39570.00,-,-,-
4,1_20220825 04,1,2022-08-25 04:00:00,21.8,0.0,1.0,77,Thu,0,0,2022,8,25,4,건물기타,110634.00,39570.00,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16795,100_20220831 19,100,2022-08-31 19:00:00,22.5,0.0,0.9,84,Wed,0,0,2022,8,31,19,호텔및리조트,57497.84,40035.23,-,-,-
16796,100_20220831 20,100,2022-08-31 20:00:00,20.7,0.0,0.4,95,Wed,0,0,2022,8,31,20,호텔및리조트,57497.84,40035.23,-,-,-
16797,100_20220831 21,100,2022-08-31 21:00:00,20.2,0.0,0.4,98,Wed,0,0,2022,8,31,21,호텔및리조트,57497.84,40035.23,-,-,-
16798,100_20220831 22,100,2022-08-31 22:00:00,20.1,0.0,1.1,97,Wed,0,0,2022,8,31,22,호텔및리조트,57497.84,40035.23,-,-,-
16799,100_20220831 23,100,2022-08-31 23:00:00,19.1,0.0,0.1,99,Wed,0,0,2022,8,31,23,호텔및리조트,57497.84,40035.23,-,-,-

In [20]:
merge_train[merge_train["월"]==6]

,num_date_time,건물번호,일시,기온(C),강수량(mm),풍속(m/s),습도(%),일조(hr),일사(MJ/m2),전력소비량(kWh),...,연,월,일,시간,건물유형,연면적(m2),냉방면적(m2),태양광용량(kW),ESS저장용량(kWh),PCS용량(kW)
0,1_20220601 00,1,2022-06-01 00:00:00,18.6,0.0,0.9,42.0,0.0,0.0,1085.28,...,2022,6,1,0,건물기타,110634.00,39570.00,-,-,-
1,1_20220601 01,1,2022-06-01 01:00:00,18.0,0.0,1.1,45.0,0.0,0.0,1047.36,...,2022,6,1,1,건물기타,110634.00,39570.00,-,-,-
2,1_20220601 02,1,2022-06-01 02:00:00,17.7,0.0,1.5,45.0,0.0,0.0,974.88,...,2022,6,1,2,건물기타,110634.00,39570.00,-,-,-
3,1_20220601 03,1,2022-06-01 03:00:00,16.7,0.0,1.4,48.0,0.0,0.0,953.76,...,2022,6,1,3,건물기타,110634.00,39570.00,-,-,-
4,1_20220601 04,1,2022-06-01 04:00:00,18.4,0.0,2.8,43.0,0.0,0.0,986.40,...,2022,6,1,4,건물기타,110634.00,39570.00,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202675,100_20220630 19,100,2022-06-30 19:00:00,28.3,0.0,3.2,73.0,0.3,0.0,965.28,...,2022,6,30,19,호텔및리조트,57497.84,40035.23,-,-,-
202676,100_20220630 20,100,2022-06-30 20:00:00,27.2,0.0,0.9,77.0,0.3,0.0,950.16,...,2022,6,30,20,호텔및리조트,57497.84,40035.23,-,-,-
202677,100_20220630 21,100,2022-06-30 21:00:00,26.5,0.0,0.4,80.0,0.0,0.0,862.56,...,2022,6,30,21,호텔및리조트,57497.84,40035.23,-,-,-
202678,100_20220630 22,100,2022-06-30 22:00:00,25.6,0.0,0.2,85.0,0.0,0.0,711.60,...,2022,6,30,22,호텔및리조트,57497.84,40035.23,-,-,-
202679,100_20220630 23,100,2022-06-30 23:00:00,25.0,0.0,0.5,89.0,0.0,0.0,591.36,...,2022,6,30,23,호텔및리조트,57497.84,40035.23,-,-,-

In [25]:
sample = merge_train[(merge_train["월"]==6) & (merge_train["건물유형"]=='건물기타') & (merge_train['태양광용량(kW)']!='-')]
sample

,num_date_time,건물번호,일시,기온(C),강수량(mm),풍속(m/s),습도(%),일조(hr),일사(MJ/m2),전력소비량(kWh),...,연,월,일,시간,건물유형,연면적(m2),냉방면적(m2),태양광용량(kW),ESS저장용량(kWh),PCS용량(kW)
4080,3_20220601 00,3,2022-06-01 00:00:00,18.6,0.0,0.9,42.0,0.0,0.00,926.28,...,2022,6,1,0,건물기타,171243.00,113950.00,40,-,-
4081,3_20220601 01,3,2022-06-01 01:00:00,18.0,0.0,1.1,45.0,0.0,0.00,884.52,...,2022,6,1,1,건물기타,171243.00,113950.00,40,-,-
4082,3_20220601 02,3,2022-06-01 02:00:00,17.7,0.0,1.5,45.0,0.0,0.00,882.36,...,2022,6,1,2,건물기타,171243.00,113950.00,40,-,-
4083,3_20220601 03,3,2022-06-01 03:00:00,16.7,0.0,1.4,48.0,0.0,0.00,867.24,...,2022,6,1,3,건물기타,171243.00,113950.00,40,-,-
4084,3_20220601 04,3,2022-06-01 04:00:00,18.4,0.0,2.8,43.0,0.0,0.00,880.92,...,2022,6,1,4,건물기타,171243.00,113950.00,40,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27235,14_20220630 19,14,2022-06-30 19:00:00,21.2,4.2,4.4,97.0,0.0,0.02,1896.00,...,2022,6,30,19,건물기타,16844.16,14102.92,56,-,-
27236,14_20220630 20,14,2022-06-30 20:00:00,21.5,1.1,1.6,98.0,0.0,0.01,2187.36,...,2022,6,30,20,건물기타,16844.16,14102.92,56,-,-
27237,14_20220630 21,14,2022-06-30 21:00:00,22.0,9.4,1.1,98.0,0.0,0.00,1996.80,...,2022,6,30,21,건물기타,16844.16,14102.92,56,-,-
27238,14_20220630 22,14,2022-06-30 22:00:00,22.4,2.9,1.2,98.0,0.0,0.00,2266.08,...,2022,6,30,22,건물기타,16844.16,14102.92,56,-,-
27239,14_20220630 23,14,2022-06-30 23:00:00,23.4,0.0,2.9,98.0,0.0,0.00,2417.28,...,2022,6,30,23,건물기타,16844.16,14102.92,56,-,-

In [26]:
sample['태양광용량(kW)'].unique()

array(['40', '60', '447.2', '130.6', '56'], dtype=object)

In [27]:
sample[sample['태양광용량(kW)']=='447.2']

,num_date_time,건물번호,일시,기온(C),강수량(mm),풍속(m/s),습도(%),일조(hr),일사(MJ/m2),전력소비량(kWh),...,연,월,일,시간,건물유형,연면적(m2),냉방면적(m2),태양광용량(kW),ESS저장용량(kWh),PCS용량(kW)
20400,11_20220601 00,11,2022-06-01 00:00:00,15.3,0.0,0.1,59.0,0.0,0.0,1455.12,...,2022,6,1,0,건물기타,45956.56,13190.98,447.2,-,-
20401,11_20220601 01,11,2022-06-01 01:00:00,14.0,0.0,0.1,64.0,0.0,0.0,1526.64,...,2022,6,1,1,건물기타,45956.56,13190.98,447.2,-,-
20402,11_20220601 02,11,2022-06-01 02:00:00,13.5,0.0,0.4,71.0,0.0,0.0,1395.84,...,2022,6,1,2,건물기타,45956.56,13190.98,447.2,-,-
20403,11_20220601 03,11,2022-06-01 03:00:00,11.8,0.0,0.5,82.0,0.0,0.0,1295.76,...,2022,6,1,3,건물기타,45956.56,13190.98,447.2,-,-
20404,11_20220601 04,11,2022-06-01 04:00:00,11.3,0.0,0.2,86.0,0.0,0.0,1285.20,...,2022,6,1,4,건물기타,45956.56,13190.98,447.2,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21115,11_20220630 19,11,2022-06-30 19:00:00,21.6,6.0,1.3,100.0,0.0,0.0,2058.72,...,2022,6,30,19,건물기타,45956.56,13190.98,447.2,-,-
21116,11_20220630 20,11,2022-06-30 20:00:00,21.5,1.1,0.1,100.0,0.0,0.0,2046.24,...,2022,6,30,20,건물기타,45956.56,13190.98,447.2,-,-
21117,11_20220630 21,11,2022-06-30 21:00:00,21.4,0.2,0.4,100.0,0.0,0.0,1911.12,...,2022,6,30,21,건물기타,45956.56,13190.98,447.2,-,-
21118,11_20220630 22,11,2022-06-30 22:00:00,21.3,0.0,0.1,100.0,0.0,0.0,1820.64,...,2022,6,30,22,건물기타,45956.56,13190.98,447.2,-,-
21119,11_20220630 23,11,2022-06-30 23:00:00,21.2,0.0,0.1,100.0,0.0,0.0,1802.16,...,2022,6,30,23,건물기타,45956.56,13190.98,447.2,-,-

In [28]:
building[building['건물유형']=='건물기타']

    건물번호  건물유형    연면적(m2)   냉방면적(m2) 태양광용량(kW) ESS저장용량(kWh) PCS용량(kW)
0      1  건물기타  110634.00   39570.00         -            -         -
1      2  건물기타  122233.47   99000.00         -            -         -
2      3  건물기타  171243.00  113950.00        40            -         -
3      4  건물기타   74312.98   34419.62        60            -         -
4      5  건물기타  205884.00  150000.00         -         2557      1000
5      6  건물기타  205754.00   74565.00         -            -         -
6      7  건물기타  101711.52   41341.10         -          800       300
7      8  건물기타   75344.54   24117.00         -            -         -
8      9  건물기타  222882.35   15651.18         -            -         -
9     10  건물기타   31062.00   18637.00         -            -         -
10    11  건물기타   45956.56   13190.98     447.2            -         -
11    12  건물기타   70163.10    3598.21     130.6            -         -
12    13  건물기타    5578.40    3500.00         -            -         -
13    14  건물기타   16844.16   14102.92        56            -         -
14    15  건물기타  167012.31  167012.31         -            -         -